In [ ]:
# Creating a list, dictionary, and set
my_list = [1, 2, 3]
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_set = {1, 2, 3}

In [ ]:
# Operations on the list
print("Initial list:", my_list)
my_list.append(4)       # Adding an element to the list
print("List after adding 4:", my_list)
my_list.remove(2)        # Removing an element from the list
print("List after removing 2:", my_list)
my_list[1] = 10          # Modifying an element in the list
print("List after modifying element at index 1:", my_list)

Initial list: [1, 2, 3]
List after adding 4: [1, 2, 3, 4]
List after removing 2: [1, 3, 4]
List after modifying element at index 1: [1, 10, 4]

In [ ]:
# Operations on the dictionary
print("\nInitial dictionary:", my_dict)
my_dict['d'] = 4         # Adding a new key-value pair
print("Dictionary after adding key 'd':", my_dict)
del my_dict['b']         # Removing a key-value pair
print("Dictionary after removing key 'b':", my_dict)
my_dict['a'] = 10        # Modifying a value in the dictionary
print("Dictionary after modifying value for key 'a':", my_dict)

Initial dictionary: {'a': 1, 'b': 2, 'c': 3}
Dictionary after adding key 'd': {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Dictionary after removing key 'b': {'a': 1, 'c': 3, 'd': 4}
Dictionary after modifying value for key 'a': {'a': 10, 'c': 3, 'd': 4}

In [ ]:
# Operations on the set
print("\nInitial set:", my_set)
my_set.add(4)            # Adding an element to the set
print("Set after adding 4:", my_set)
my_set.remove(1)         # Removing an element from the set
print("Set after removing 1:", my_set)
my_set.update([5, 6])    # Adding multiple elements to the set
print("Set after adding multiple elements:", my_set)

Initial set: {1, 2, 3}
Set after adding 4: {1, 2, 3, 4}
Set after removing 1: {2, 3, 4}
Set after adding multiple elements: {2, 3, 4, 5, 6}